<div class="items-center text-center">
  <p class="font-bold text-4xl">Home</p>
  <p class="text-lg mt-3">Personal finance manager (PMF) is an information system for controlling personal finances (in this case, only expenses)</p>
</div>

<div class="flex flex-wrap items-top justify-center place-items mt-5">
  <%= image_tag 'img_for_home_page.jpg', class: 'rounded-lg flex w-5/6' %>
</div>
<p class="text-2xl mt-5 font-bold text-center">Functions & Quick guide:</p> <br>

<div class="flex flex-wrap items-top justify-center place-items-top">
  <p class="text-lg mb-5 flex">1. Adding cost categories.</p> <br>
  <%= image_tag 'page_screenshots/category1.png', class: 'rounded-lg flex w-5/6 m-5' %>
  <%= image_tag 'page_screenshots/category2.png', class: 'rounded-lg flex w-5/6 m-5' %>
  <p class="text-lg m-5 flex">2. Adding operations (buying something, paying for services, and so on). Each operation is assigned to one category of costs.</p> <br>
  <%= image_tag 'page_screenshots/operation.png', class: 'rounded-lg flex w-5/6 m-5' %>
  <p class="text-lg m-5 flex">3. Generation (viewing) of cost reports by categories or by dates for the specified period.</p> <br>
  <%= image_tag 'page_screenshots/report_index.png', class: 'rounded-lg flex w-5/6 m-5' %>
  <%= image_tag 'page_screenshots/report_by_category_pie.png', class: 'rounded-lg flex w-5/6 m-5' %>
  <%= image_tag 'page_screenshots/report_by_category_doughnut.png', class: 'rounded-lg flex w-5/6 m-5' %>
  <%= image_tag 'page_screenshots/report_by_dates_per_months_small.png', class: 'rounded-lg flex w-5/6 m-5' %>
  <%= image_tag 'page_screenshots/report_by_dates_per_days.png', class: 'rounded-lg flex w-5/6 m-5' %>
  <%= image_tag 'page_screenshots/report_by_dates_per_months_big.png', class: 'rounded-lg flex w-5/6 m-5' %>
</div>

<p class="text-2xl my-5 font-bold text-center">Good luck and Enjoy :)</p> <br>