<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl my-5">Reports</h1>
  </div>

  <div class="flex flex-wrap items-top justify-center place-items-top">
    <p class="text-lg m-2 text-center">Enter a period to get a cost report by categories or by dates!</p>

    <%= image_tag 'report_page_img.jpg', class: 'rounded-lg flex w-5/6' %>

  <!--action attribute depends on formaction of buttons-->
  <div class="flex">
    <%= form_tag '',method: :get do %>
      <div class="flex flex-wrap justify-center items-center">
        <%= date_field_tag(:start_odate, params[:start_odate], required: true, class: "flex block shadow rounded-md border border-gray-200 outline-none m-2") %>
        <%= date_field_tag(:end_odate, params[:end_odate], required: true, class: "flex block shadow rounded-md border border-gray-200 outline-none m-2") %>
        <button class="m-2 rounded-lg py-1 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer" type="submit" formaction="/reports/report_by_category">By category</button>
        <button class="m-2 rounded-lg py-1 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer" type="submit" formaction="/reports/report_by_dates">By dates</button>
      </div>
    <% end %>
  </div>

  </div>

</div>