<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl my-5"><%= @pageTitle %></h1>
  </div>

  <div class="container text-center">
    <%= form_tag '',method: :get do %>
      <div class="flex flex-wrap justify-center items-center">
        <%= date_field_tag(:start_odate, params[:start_odate], required: true, class: "flex block shadow rounded-md border border-gray-200 outline-none m-2") %>
        <%= date_field_tag(:end_odate, params[:end_odate], required: true, class: "flex block shadow rounded-md border border-gray-200 outline-none m-2") %>
        <%= select_tag("datesReportType", options_for_select([["perDay"],["perMonth"]], params[:datesReportType]), class: 'flex block shadow rounded-md border border-gray-200 outline-none m-2 pl-2') %>
        <button class="rounded-lg p-2 bg-blue-600 h-full text-white inline-block font-medium cursor-pointer" type="submit" formaction="/reports/report_by_dates">Get a report</button>
      </div>
    <% end %>
  </div>

  <div class="flex " id="div_with_myChartReport">
    <canvas id="myChartReportDates"></canvas>
  </div>

  <!--Table-->

  <div class="flex flex-wrap justify-center m-5">
    <table class="text-sm text-left text-gray-500 dark:text-gray-400 max-w-xs">
      <thead class="text-lg text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Date
        </th>
        <th scope="col" class="px-6 py-3">
          Sum
        </th>
      </tr>
      </thead>
      <tbody>
      <% @records_report_by_dates.keys.each do |date| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4 text-lg">
            <%= date %>
          </td>
          <td class="px-6 py-4 text-lg">
            <%= @records_report_by_dates[date] %>
          </td>
        </tr>
      <% end %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-6 py-4 text-2xl">
          <b>Total:</b>
        </td>
        <td class="px-6 py-4 text-xl">
          <b><%= @records_report_by_dates.values.sum.to_f %></b>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--Table end-->
</div>

<!--Scripts-->

<script type="text/javascript">
    function chartJSDates() {
        const ctx = document.getElementById('myChartReportDates');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    'zero',
                    <% @records_report_by_dates.keys.each do |day| %>
                    '<%= day %>',
                    <% end %>
                ],
                datasets: [{
                    label: 'Sum amount <%= params[:datesReportType] %>',
                    data: [
                        0,
                        <% @records_report_by_dates.values.each do |amount_per_day| %>
                        <%= amount_per_day %>,
                        <% end %>
                    ],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
        });
    }
    chartJSDates()
</script>
